html {
    background: linear-gradient(rgba(166, 255, 228, 0.267), rgb(0, 109, 211));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: max-content 100%;
}


main {
    display: flex;
    scroll-snap-type: x mandatory;
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    /* white-space: nowrap; */
    overflow-y: clip;
    overflow-x: auto;
    gap: 20px padding 8px;
    background-color: rgba(53, 74, 168, 0.397);
    scrollbar-width: thin;
    scrollbar-color: rgb(32, 50, 204) transparent;

    @media (min-width: 30em) {
        flex-direction: row-reverse;
        align-items: unset;
    }
}

article {
    padding: 1rem;
    background: lightblue;
    border-radius: 1rem;
    border: 10px solid whitesmoke;
    box-shadow: 0px 10px 20px rgb(54, 198, 255);
    flex: 0 0 auto;
    width: min(500px, 60vw);
    margin: 20px;
    margin-right: 0%;
    scroll-snap-align: start;
}


dt {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

h2 {
    color: blue;
}

h3 {
    color: rgb(75, 75, 190);
}